<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Movie Database {% endblock %}</title>
    {#<link href="http://akveo.com/blur-admin/styles/app-bce21c2366.css" rel="stylesheet" crossorigin="anonymous">#}
    {#<link href="http://akveo.com/blur-admin/styles/vendor-2cae343ef1.css" rel="stylesheet" crossorigin="anonymous">#}

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="/resources/themes/DarkTemplar/img/apple-icon.png">
    <link rel="icon" type="image/png" href="/resources/themes/DarkTemplar/favicon.png">

    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet"/>
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <!-- Nucleo Icons -->
    <link href="/static/themes/DarkTemplar/css/nucleo-icons.css" rel="stylesheet"/>
    <!-- CSS Files -->
    <link href="/static/themes/DarkTemplar/css/black-dashboard.min.css" rel="stylesheet"/>

</head>
<body>

<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">

            <div class="navbar-brand">Site Branding</div>

        </div>
        <ul class="nav nav-pills">
            {% if user.is_authenticated %}
                <li role="presentation">

                    <p class="navbar-text">
                        Logged in as {{ user.username }}.
                        <a href="{% url 'security:logout' %}" class="nav-link">
                            Logout here.
                        </a>
                    <p>
                </li>
            {% else %}
                <li role="presentation">
                    <a href="{% url 'security:login' %}" class="button btn btn-primary navbar-btn">
                        Sign in
                    </a>
                </li>
            {% endif %}
            <li role="presentation">
                <a class="button btn btn-info" href="{% url 'fixtures:MovieList' %}">Movies</a>
            </li>
            <li role="presentation">
                <a class="button btn btn-info" href="{% url 'fixtures:TopMovies' %}">
                    Top 10
                </a>
            </li>
        </ul>
    </div>
</nav>

<!--BLOCK FOR NAVIGATION-->
{% block navbar %}
{% endblock %}`

<div class="container">
    <div>
        <div class="row">
            <div class="col-sm-8">
                <!--BLOCK FOR BASE VIEWS-->
                {% block main %} {% endblock %}
            </div>
            <div class="col-sm-3 offset-sm-1">
                <!--BLOCK FOR SIDEBAR-->
                {% block sidebar %} {% endblock %}
            </div>
        </div>
    </div>
</div>


<!--BLOCK FOR EXTRA/FEATURED-->
<!--TODO: move this block to its own template-->


</body>
</html>